.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 7vh;
  float: left;

}

.App-header {
  height: 7vh;
  background-color: lightyellow;
  opacity: 0.5;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-title{
  background: url(http://apod.nasa.gov/apod/image/0603/coma_misti.jpg) -80px -80px;
  color: antiquewhite;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
  font-size: 5vh;
  font-family: arial, helvetica;
  margin: auto;
  top: 3vh;
  text-align: center;
  padding-top: 1vh;
}
.artists-table{
  margin:auto;
}

.Contents{
  min-height: 95%;
}
footer {
  position: relative;
  top: 40vh;

}

.social-logo{
  width: 40px;
  height: 40px;
  flex:1 1 auto;
  margin:5px;
}

#github-logo{
  background-color: white;
}

.social-logos-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.author-info{
  font-weight: 800;
  font-size: 3vh;
}