.topBar-button-container{
    height:5vh;
    margin:auto;
    position: relative;
    top: 2vh;
}

.topBar-container{
    top:2vh;
    position:relative;
}

.topBar-instruction{
    color: red;
}

.topBar-button-container button{
    top:25%;
    left:5%;
    background:linear-gradient( to top right, rgba(255,87,34,1) 0%, rgba(251,140,0 ,1) 100%);
    box-shadow: 1px 1px 30px rgba(255,111,0 ,1);
    width: 10vw;
    height: 5vh;
    margin-right: 1vw;
    color: white;
    font-weight: 700;
    cursor: pointer;
}
