.week-text-input{
    padding-top: 1.5vh;
    margin-right: 1vw;
    width: 10vw;
    height: 2vh;
    border-color: #57D6C7;
    font-family: inherit;
    line-height:inherit;
    color:#2e3750;
    box-shadow: #2e3750;
}

.error-notice{
    color:red;
    font-weight: 500;
    font-size: 1.2vw;
}